body{
    background-color: rgb(153, 177, 148);
}
h1{
    font-family:fantasy ;
color: azure;
}

.sofi{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.salo{
    font-family:'Trebuchet MS';
}
