body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #78b8ad;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  background-color: #78b8ad;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0 0 20px;
}

h3{
  color:#6aabb1
}

p{
  color:#97aaac
}

.menu-section {
  margin-bottom: 30px;
}

.menu-section img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.menu-item h3 {
  margin: 10px 0;
}

.menu-item p {
  margin: 5px 0;
}

.btn-success {
  background-color: #78b8ad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-success:hover {
  background-color: #78b8ad;
}

.btn-success:active {
  background-color:#78b8ad;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

.my-button {
  padding: 10px 20px;
  background-color: #6ea791;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.my-button:hover {
  background-color: #5a8d71;
}

.my-button:active {
  background-color: #4a7d61;
}
